<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincestyling.traversaless_testcase"
    android:versionCode="401"
    android:versionName="4.0.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".IndicatorTestActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="DataSet Changed" android:name=".DataSetChangedTestActivity"/>
        <activity android:label="General" android:name=".GeneralTestActivity"/>
        <activity android:label="Scrolling Speed" android:name=".ScrollingSpeedTestActivity"/>
    </application>

</manifest>